<html>
<head>
    <meta charset='utf-8' />
    <title>DataKind Map Tool</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.33.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.33.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }

        #sidebar {
            position: absolute;
            top: 15px;
            left: 15px;
            bottom: 15px;
            width: 250px;
            overflow: auto;
            background: rgba(255, 255, 255, 0.8);
            font-family: "Arial";
            padding-left: 10px;
        }
    </style>

</head>

<body>

    <div id='map'></div>
    <div id='sidebar'>
        <h1>Mapper Tool for DataKind DC</h1>
        <h2>{{ mapmaker.data_file.column_set.get(pk=pk).name }}</h2>
        <div id="tooltip-name"></div>
        <div id='tooltip'></div>
    </div>

    <script>
        //https://bl.ocks.org/hrecht/82b6440ed3b982a6f594
        mapboxgl.accessToken = '{{ MAPBOX_KEY }}';

        //globals for the choropleth
        var COLORS = {{ mapmaker.get_color_ranges() }},
            BREAKS = {{ mapmaker.get_value_ranges() }},
            FILTERUSE;

        //create a map using the Mapbox Light theme, zoomed in to DC
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            zoom: 13.5,
            center: [-77.012, 38.8906]
        });

        // Add zoom and rotation controls to the map.
        map.addControl(new mapboxgl.Navigation());

        //data source: http://opendata.dc.gov/datasets/e87a760828844422afe864a6754049c2_20?geometry=-77.297%2C38.854%2C-76.732%2C38.934
        map.on('load', function () {
            map.addSource('mapData', {
                type: 'geojson',
                data: 'mapper/static/geojson/mapData.geojson'
            });

            map.addLayer({
                "id": "tracts",
                "type": "fill",
                "source": "mapData",
                "paint": {
                    "fill-color": {
                        property: '{{ mapmaker.data_file.column_set.get(pk=pk).name }}',
                        stops: [
                          {% for num in range(INTERVAL) %}
                            [BREAKS[num], COLORS[num]]{% if not loop.last %},{% endfor%}
                          {% endfor %}
                  ]},
                    "fill-opacity": 0.7,
                    "fill-outline-color": "#ffffff"
                }
            });
        });

        map.on("mousemove", function (e) {
            var features = map.queryRenderedFeatures(e.point, {
                layers: ["{{ mapmaker.match_key }}"]
            });

            if (features.length) {
                //show name and value in sidebar
                document.getElementById('tooltip-name').innerHTML = "{{ mapmaker.geo_level }} " + features[0].properties.GEOID;
                document.getElementById('tooltip').innerHTML = Math.round(features[0].properties.{{ mapmaker.data_file.column_set.get(pk=pk).name }});
            } else {
                //if not hovering over a feature set tooltip to empty
                document.getElementById('tooltip-name').innerHTML = "";
                document.getElementById('tooltip').innerHTML = "";
            }
        });
    </script>

</body>

</html>
